# project specifics #
#####################
build/
include/minuit-cpp/Config.hh
doc/doxy.cfg
doc/doxy.log
doc/html/
# work-in-progress
include/minuit-cpp/math/
src/test/
src/tutorial/

# Useful General Ignores #
##########################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.*
!.gitignore
*~
\#*\#
.\#*
*.tgz
*.log
*.slo
*.lo
*.o
*.ko
*.d
*.so
*.so.*
*.dylib
*.lib
*.lai
*.la
*.a
*.dll
*.exe
*.out
*.app
